.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.actions {
  display: flex;
  gap: 16px;
}

.action {
  flex: 1 0 auto;
}

.action svg {
  width: 16px;
  height: 16px;
  stroke-width: 1.8;
}
