.wrapper {
  display: flex;
  width: calc(100% - 70px);
  min-width: 950px;
  max-width: 1600px;
  height: 100vh;
  margin-inline: auto;
  flex-direction: column;
}

.content {
  display: grid;
  min-height: 0;
  grid-template-columns: minmax(0, 3fr) minmax(0, 2fr);
  grid-template-rows:
    minmax(0, auto)
    minmax(180px, 1fr);
  grid-template-areas:
    'posts create'
    'posts operations';
  gap: 24px;
}

.posts {
  grid-area: posts;
}

.createPost {
  grid-area: create;
}

.operations {
  grid-area: operations;
}
