.root {
  display: flex;
  align-items: center;
  gap: 16px;
}

.h1 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

.h2 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
}

.h3 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
}

.icon {
  color: var(--color-text-secondary);
}
